$cor1: #ebe5c5;   
$cor2: #83e1ad;
$cor3: #3ddc84;
$cor4: #2fa866;
$cor5: #1a5c37;
$cor6: #063d1e;
$font1: Arial, Verdana, Helvetica, sans-serif;
$font2: 'Bebas Neue', cursive;
$font3: 'Android', cursive;
